*
*/

!packagefiles/**
!SDL2-*/**

!boost-*.wrap
!Cobalt.wrap
!eigen-*.wrap
!glm-*.wrap
!godot-cpp-*.wrap
!ImFileDialog.wrap
!imgui_club.wrap
!imgui-node-editor.wrap
!imgui.wrap
!ImGuiColorTextEdit.wrap
!implot.wrap
!implot3d.wrap
!libfive-*.wrap
!libgphoto2.wrap
!libpng-*.wrap
!llvm-*.wrap
!lmdb-*.wrap
!lua-*.wrap
!openvr-*.wrap
!stb-*.wrap
!zlib-*.wrap
