boost-*/**
eigen-*/**
glm-*/**
imgui-*/**
libfive-*/**
libpng-*/**
llvm-*/**
lmdb-*/**
lua-*/**
SDL2-*/**
stb-*/**
zlib-*/**

*-wrap/**

packagecache/**

boost-*.wrap
eigen-*.wrap
libpng-*.wrap
zlib-*.wrap
*-wrap.wrap
